/target/
/nbproject/
/catalina*/
/nbactions.xml
/nb-configuration.xml
/.idea/
/.classpath
/.project
/.settings
/*.iml
/*.log
/*.log.*
/cobertura.ser
/faces-config.NavData
/**/swagger-API.json
/acl-api/target/
/acl-impl/target/
/api/target/
/server/target/
/client/target/
/server/nbproject/
